.login-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(4px);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

    padding: 3%;
    
    background-color: var(--surface);
    border-radius: 12px;
}

.login-form label {
    font-weight: bold;
}

.login-el {
    width: 85%;
    padding: 0.7em;
    border: none;
    border-radius: 4px;
}

.login-submit {
    margin-top: 2%;
    font-size: 0.85em;
}

.login-reg div,
.login-reg a{
    display: inline-block;
    margin: 0.15em;
    font-size: 0.8em;
}


